
.input-control{
    display: flex;
    flex-direction:column;
}

input{
    padding: 16px;
    margin: 10px 0;
    border: 1px solid blue;
}
.login-form{
    margin-top: 5rem;
    margin-inline: auto;
    width: 80%;
    background-color: white;
    padding: 3rem;
    border-radius: 2rem;
    display: grid;
}
.login-form button{
    align-self: center;
    color: white;
}
.btn-disable{
    background-color: grey;
}